.section {
  background-image: linear-gradient(-180deg, #fafafa, #fff);
}
@media (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section {
    padding-top: 40px;
  }
}
.section__box {
  width: 350px;
}
@media (min-width: 768px) {
  .section__box {
    width: 170px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section__box {
    width: 300px;
  }
}
.section__box-img {
  width: 115px;
  display: block;
  margin: 0 auto;
}
.section__box-title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section__box-title {
    font-size: 24px;
  }
}
.section__box-text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 12px;
}
@media (min-width: 768px) {
  .section__box-text {
    font-size: 14px;
  }
}
.section__box-text2 {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section__box-text2 {
    font-size: 14px;
  }
}

.section2 {
  background-image: linear-gradient(-180deg, #fafafa, #fff);
  padding-top: 30px;
}
.section2__title {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section2__title {
    padding-left: 150px;
    font-size: 34px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section2__title {
    padding-left: 335px;
    font-size: 35px;
  }
}
.section2__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section2__text {
    padding-left: 304px;
    margin-top: -16px;
    padding-bottom: 150px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section2__text {
    padding-left: 521px;
  }
}
@media (min-width: 768px) {
  .section2__container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section2__container {
    justify-content: space-between;
  }
}
.section2__container-box {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .section2__container-box {
    display: block;
    width: 100px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section2__container-box {
    width: 157px;
  }
}
.section2__container-box--boxreverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .section2__container-box--boxreverse {
    display: block;
    width: 100px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section2__container-box--boxreverse {
    width: 157px;
  }
}
.section2__container-box-link-img {
  width: 100px;
  padding-left: 30px;
}
.section2__container-box-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section2__container-box-text {
    text-align: center;
    font-size: 16px;
  }
}
.section2__container-box-text--text2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #1d629f;
  text-align: end;
}
@media (min-width: 768px) {
  .section2__container-box-text--text2 {
    text-align: center;
    font-size: 16px;
  }
}

.section3 {
  padding-top: 30px;
  background-image: linear-gradient(-180deg, #fafafa, #fff);
}
@media (min-width: 768px) {
  .section3 {
    padding-bottom: 50px;
  }
}
.section3__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #1d629f;
}
@media (min-width: 768px) {
  .section3__title {
    font-size: 47px;
  }
}
@media (min-width: 768px) {
  .section3__container {
    display: flex;
  }
}
.section3__container-box {
  width: 200px;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 25px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 36px auto;
  box-shadow: 2px 11px 33px 3px #cfcfcf;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .section3__container-box {
    width: 125px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.section3__container-box-text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #927eec;
}
@media (min-width: 768px) {
  .section3__container-box-text {
    font-size: 40px;
  }
}
.section3__container-box-text--blue {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #4a7dd8;
}
@media (min-width: 768px) {
  .section3__container-box-text--blue {
    font-size: 40px;
  }
}
.section3__container-box-text--green {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #6ee8d7;
}
@media (min-width: 768px) {
  .section3__container-box-text--green {
    font-size: 40px;
  }
}
.section3__container-box-textb {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 12px;
  color: #1d629f;
  margin-top: -35px;
}
@media (min-width: 768px) {
  .section3__container-box-textb {
    font-size: 16px;
  }
}

.tabbar {
  position: fixed;
  bottom: 0px;
  background: white;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 375px;
  display: flex;
  box-shadow: 2px 11px 33px 3px #cfcfcf;
}
@media (min-width: 768px) {
  .tabbar {
    width: 100%;
    justify-content: space-around;
  }
}
.tabbar__link {
  border: 1px solid;
  border-color: #22a2c0;
  text-decoration: none;
  color: #22a2c0;
  padding: 15px 10px 15px 10px;
  margin-left: 10px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}
@media (min-width: 768px) {
  .tabbar__link {
    font-size: 20px;
  }
}
.tabbar__linkb {
  background-color: #22a2c0;
  text-decoration: none;
  color: white;
  padding: 15px 10px 15px 10px;
  margin-left: 15px;
  width: 245px;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}
@media (min-width: 768px) {
  .tabbar__linkb {
    font-size: 20px;
  }
}

.section4 {
  padding-bottom: 35px;
  background-image: linear-gradient(-180deg, #fafafa, #fff);
}
@media (min-width: 768px) {
  .section4 {
    position: relative;
  }
}
.section4__title {
  font-family: "Ubuntu", sans-serif;
  color: #1d629f;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .section4__title {
    width: 200px;
    text-align: left;
    position: relative;
    left: 60px;
    top: 180px;
  }
}
.section4__container {
  background-color: white;
}
@media (min-width: 768px) {
  .section4__container {
    width: 370px;
    box-shadow: 2px 11px 33px 3px #cfcfcf;
    padding: 25px;
    position: relative;
    left: 318px;
    border-radius: 10px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section4__container {
    width: 482px;
    left: 425px;
    border-radius: 15px;
  }
}
.section4__container--container2 {
  display: none;
}
@media (min-width: 768px) {
  .section4__container--container2 {
    display: block;
    width: 370px;
    box-shadow: 2px 11px 33px 3px #cfcfcf;
    padding: 25px;
    position: relative;
    top: -39px;
    right: -14px;
    border-radius: 10px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section4__container--container2 {
    width: 482px;
    border-radius: 15px;
  }
}
.section4__container--container3 {
  display: none;
}
@media (min-width: 768px) {
  .section4__container--container3 {
    display: block;
    width: 370px;
    box-shadow: 2px 11px 33px 3px #cfcfcf;
    padding: 25px;
    position: relative;
    top: -60px;
    left: 319px;
    border-radius: 10px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section4__container--container3 {
    width: 482px;
    left: 425px;
    border-radius: 15px;
  }
}
.section4__container-starbox {
  display: flex;
  height: 18px;
}
.section4__container-starbox-star {
  width: 18px;
}
.section4__container-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
}
.section4__container-person {
  display: flex;
  align-items: center;
}
.section4__container-person-photobox {
  height: 55px;
}
.section4__container-person-photobox-photo {
  width: 55px;
}
.section4__container-person-textbox {
  padding-left: 15px;
}
.section4__container-person-textbox-text {
  font-family: "Ubuntu", sans-serif;
  color: #1d629f;
  font-size: 14px;
  font-weight: bold;
}
.section4__container-person-textbox-text2 {
  font-family: "Ubuntu", sans-serif;
  color: #1d629f;
  font-size: 14px;
  margin-top: -10px;
}
.section4__link {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  color: #1d629f;
  font-size: 13px;
  background-color: #f6d850;
  padding: 5px;
}
@media (min-width: 768px) {
  .section4__link {
    position: relative;
    bottom: 815px;
    left: 61px;
    font-size: 16px;
  }
}

.section5 {
  padding-bottom: 100px;
}
.section5__title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: bold;
  color: #1d629f;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .section5__title {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .section5__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.section5__container-text {
  font-family: "Ubuntu", sans-serif;
  border: 0.5px solid;
  border-radius: 5px;
  border-color: lightgray;
  padding: 15px 15px 15px;
  font-size: 12px;
  color: #22a2c0;
}
@media (min-width: 768px) {
  .section5__container-text {
    width: 315px;
    font-size: 17px;
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section5__container-text {
    width: 430px;
  }
}
.section5__text {
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .section5__text {
    font-size: 13px;
  }
}
.section5__text--surline {
  font-family: "Ubuntu", sans-serif;
  background-color: #f6d850;
  padding: 5px;
  color: #1d629f;
  line-height: 40px;
}

.section6 {
  background-color: #eaeaea;
  padding-bottom: 50px;
  width: 100%;
}
@media (min-width: 768px) {
  .section6 {
    width: 100%;
    padding-top: 40px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section6 {
    width: 100%;
  }
}
.section6__container {
  width: 320px;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section6__container {
    width: 640px;
  }
}
.section6__container-link-img {
  width: 100px;
}
@media (min-width: 768px) {
  .section6__container-link-img {
    width: 150px;
  }
}

.section7 {
  width: 100%;
  background-color: #333333;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .section7 {
    width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section7 {
    width: 100%;
    position: absolute;
  }
}
.section7__box {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .section7__box {
    width: 225px;
    margin-left: 525px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section7__box {
    margin-left: 730px;
  }
}
.section7__box-img {
  width: 40px;
  height: 40px;
}
.section7__line {
  height: 1px;
  width: 300px;
  background-color: lightgray;
  margin: 30px auto;
}
@media (min-width: 768px) {
  .section7__line {
    display: none;
  }
}
.section7__logobox {
  margin-left: 20px;
}
.section7__logobox-img {
  width: 170px;
}
.section7__text {
  font-family: "Ubuntu", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  line-height: 25px;
  margin-left: 20px;
  margin-right: 24px;
}
@media (min-width: 768px) {
  .section7__text {
    width: 302px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .section7__text {
    width: 302px;
  }
}
.section7__linkbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 22px;
  margin-left: 20px;
}
.section7__linkbox-link {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
}
.section7__text2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  position: relative;
  text-align: 50px;
}
.section7__text3 {
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  margin-left: 20px;
  line-height: 25px;
}
.section7__text3--yellow {
  text-decoration: none;
  color: #eec215;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  margin-left: 20px;
  line-height: 25px;
}